

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.signup-form_input,.signup-form_button {
    width: 250px;
    min-width: 0;
    padding: .625rem .875rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    color: #3a4649;
    appearance: none;
    border-radius: 0;
    border: 2px solid lightgrey;
    background: none;
    outline: 0;
    margin-bottom: 5px;
}

.signup-form_button {
    background-color:#2ce080;
    border: none;
    color:white;
   
}

.signup-form_select{
    width: 250px;
    height:43px;
    font-size:1rem;
    padding:1rem;
    background: none;
    margin-bottom: 5px;
}

.rbc-trash{
    position: absolute;
    left: top;
    top: 0px;
    right: 0px;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }
  
  button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }