

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.signup-form_input,.signup-form_button {
    width: 250px;
    min-width: 0;
    padding: .625rem .875rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    color: #3a4649;
    appearance: none;
    border-radius: 0;
    border: 2px solid lightgrey;
    background: none;
    outline: 0;
    margin-bottom: 5px;
}

.signup-form_button {
    background-color:#2ce080;
    border: none;
    color:white;
   
}

.signup-form_select{
    width: 250px;
    height:43px;
    font-size:1rem;
    padding:1rem;
    background: none;
    margin-bottom: 5px;
}

.rbc-trash{
    position: absolute;
    left: top;
    top: 0px;
    right: 0px;
}
